*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar{
    display:flex;
    justify-content: right;
    align-items: right;
    background-color:blue;
    position :sticky;
    top: 0;
    z-index:1;
    

}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar ul li a{
     text-decoration: cornsilk;
     color: white;
     padding: 8px 25px;
     transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
     color: black;
     box-shadow: 0 0 10px white;

}

body{
    background-image: url(./pic.jpg);
}

.image{
 
    float: left;
    text-align: right;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 30px;
    
}
.about{
    align-items: center;
    justify-content: center;
    display: flex;
}

.about .card{
    width:700px;
    position:relative;
    height: 550px;
    background:black;
    margin-top: 40px;
    margin-right: 30px;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 5px;
    border-style: outset;
     
}

.about-content{
    float:inline-start;
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 40px;
}

 .about-content h2{
    font-size: 60px;
    color:white

 }
 .about-content h2 span{ 
 color: orange;
 }

 h3{
    color: #ffffff;
    font-size: 20px;
    color: #ffffff;
 }
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,lfr));
    grid-gap: 40px;
    margin-top: 50px;
    width: 1200px;

    
}

.services-list div{
    background: black;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-right: 10px;
    width: 1000px;
    transition: all 0.3s ease;
    margin-left: 60px;
    display: inline-block;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 5px;
    border-style: outset;
    
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #ffffff;
}
h1{
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    
}
.services-list{
    display: inline-flex;
  
   
}
.services-list1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,lfr));
    grid-gap: 40px;
    margin-top: 50px;
    width: 1200px;
    display: inline-flex;
    
    
}

.services-list1 div{
    background: black;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-right: 10px;
    width: 1000px;
    margin-left: 60px;
    display: inline-block;
    border-color: #ffffff;
    border-radius: 10px;
    border-width: 5px;
    border-style: outset;
 
    
}
.services-list1 div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #ffffff;
}
h2{
   color:#ffffff;
}

p{
   color: #ffffff;
}

.services-list div:hover{
    background: #ff004f;
    transform: translation(-10px);
    
}

.services-list1 div:hover{
    background: #ff004f;
    transform: translation(-10px);
}
  





 

 

 